DB_ROOT_PASSWORD={db-root-password}
DB_CONNECTION={DB-Connection};

SPOTIFY__CLIENTID={spotify-client-id}
SPOTIFY__CLIENTSECRET={spotify-client-secret}
SPOTIFY__REDIRECTURI={redirect-uri}/api/ProviderAuth/Callback/Spotify

GOOGLE_CLIENTID={google-client-id}
GOOGLE_CLIENTSECRET={google-client-secret}
GOOGLE_REDIRECTURI={google-redirect-uri}/api/ProviderAuth/Callback/YouTubeMusic

SOUNDCLOUD_CLIENTID={soundcloud-client-id}
SOUNDCLOUD_CLIENTSECRET={soundcloud-client-secret}
SOUNDCLOUD_REDIRECTURI={soundcloud-redirect-uri}

FRONTEND_URL={frontend-url}
SWAGGER_URL={swagger-url}