:root {
  --primary-color: #0c2b4e;
  --secondary-color: #1a3d64;
  --accent1-color: #1d546c;
  --accent2-color: #f4f4f4;
  --background-linear1-color: var(--primary-color);
  --background-linear2-color: #0b2435;
}
